/* for labels */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.FormClass,.DetailedClass{
    padding: 2%;
    text-align: left;
    background-color: #2F4454;
    /* background-color: #457675; */
    /* background-color: rgba(0, 0, 0, 0.701); */
    color: cornsilk;
    height: 100%;
}
.FormFields{
    display: inline ;
    text-align: left;
    /* display: grid; */
}
button, .ButtonClass{
  background-color: orangered;  
  border: none;
  color: white;
  padding: 0.5%;
  margin: 0.5%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}
label{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold lighter;
    padding: 1% 0;
    margin: 1% 0;
    text-align: left;
}
input[type=text],input[type=password]{
    width: 25%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 0.8% 1%;    
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.error{
    color: coral;
    text-align: left;
}
table{
    width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
}
th{
    background-color: #388687;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    padding: 1.5%;
}
a{
    width: 100%;
    color: cornsilk;
    padding: 1%;
    text-decoration: none;
    background-color:orangered;
    border-radius: 5px;

}
tr{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    padding: 1.5%;
}
th,td{  
    border: 1px solid;  
    padding: 2%;
    font-size: 20px;
}
td{
    /* width: auto; */
    color: white;
    text-align: left;
    word-break: break-all;
}
fieldset{
    color: cornsilk;
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold ;
}
fieldset > *{
    color: cornsilk;
    font-weight: bold ;
    font-family: 'Open Sans', sans-serif;

}
